<!--input-form-->
@model AutoAncillariesLimited.Models.View_Models.ProductViewModel
<div class="panel panel-info" id="insert-product-form">
  <div class="panel-heading">
    New product:
    <button id="btn-product-insert-form-close" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-remove" style="margin: 0"></span>
    </button>
  </div>
  @using (Ajax.BeginForm("ProductInsert", "Product", null, new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "error", OnComplete = "productFormComplete" }, new { id = "product-insert-form" }))
  {
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-9">
          <div class="form-group">
            <label>Product name: </label>
            @Html.TextBoxFor(model => model.Product.Name, new { @class = "form-control", placeholder = "Enter product name..." })
          
          </div>
          <div class="row">
            <div class="col-lg-8">
              <div class="form-group">
                <label>Categories:</label>
                @Html.DropDownListFor(model => model.Product.CategoryId, new SelectList(Model.Categories, "Value", "Text"), new { @class = "form-control" })
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label>File input</label>
                <input style="margin-top: 5px;" type="file">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label>Price: </label>
            @Html.TextBoxFor(model => model.Product.Price, new { @class = "form-control", type = "number", min = "0", Value = "0" })
           
          </div>
        </div>
      </div>
      <div class="row" style="margin: 0">
        <div class="form-group">
          <label>Text area</label>
          @Html.TextAreaFor(model => model.Product.Description, new { @class = "form-control", placeholder = "Descript this product..." })
        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <input id="btn-product-submit" type="submit" value="&nbsp;Save&nbsp;" class="btn btn-primary" />
    </div>
  }
</div>
<!--/input-form-->
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
  var validator;
  $(document).ready(function() {
    $.validator.addMethod(
      "regex",
      function (value, element, regexp) {
        return this.optional(element) || regexp.test(value);
      },
      "Please check your input."
    );

    validator = $("#product-insert-form").validate({
      rules: {
        "Product.Name": {
          required: true,
          minlength: 6,
          maxlength: 100,
          regex: /^[a-zA-Z\s_-]*$/
        }
      },
      messages: {
        "Product.Name": {
          minlength: "Product name is too short!",
          maxlength: "Product name is too long!",
          regex: "Product name is invalid!"
        }
      }
    });

    $("#btn-product-insert-form-close").click(function () {
      btnProductFormCloseEvent();
    });
  });
</script>
