@model AutoAncillariesLimited.Models.Employee
<ul class="user-menu">
    <li class="dropdown pull-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> @Model.Name <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="@Url.Action("Profile","Employee",new {id=Model.Id})"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
            <li><a href="@Url.Action("Logout")"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
        </ul>
    </li>
</ul>